* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  position: relative; 
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./img/goette.png');
  background-repeat: repeat; 
  background-size: auto;
  opacity: 0.3; 
  z-index: -1; /*ACOMODO DE FORMULARIO POR ENCIMA DE LA IMAGEN Y SU OPACIDAD*/
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /*OPACIDAD*/
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}



.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  outline: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 175px;
  height: 50px;
  border-radius: 0.5em;
  box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
  overflow: hidden;
 }
 
 button div {
  transform: translateY(0px);
  width: 100%;
 }
 
 button,
 button div {
  transition: 0.6s cubic-bezier(.16,1,.3,1);
 }
 
 button div span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0.75em 1.125em;
  justify-content: center;
 }
 
 button div:nth-child(1) {
  background-color: #1e90ff;
 }
 
 button div:nth-child(2) {
  background-color: #21dc62;
 }
 
 button:hover {
  box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
 }
 
 button:hover div {
  transform: translateY(-50px);
 }
 
 button p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
 }
 
 button:active {
  transform: scale(0.95);
 }

#responseMessage {
  margin-top: 20px;
  text-align: center;
}

#loading {
    margin-top: 20px;
    font-weight: bold;
    color: #1e90ff; /* Color azul para el texto */
}

